html,
body {
    margin: 0;
    padding: 0;
}

.title {
    margin-top: 0;
}

.navbar {
    width: 100%;
    background-color: #ffd1dc;
    text-transform: uppercase;
    text-align: center;
}

.title-container .title {
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu-item {
    margin: 20px;
    text-decoration: none;
}
