.tile {
    transition: 0.5s all;
}

.tile1:hover {
    background: #441151;
    transform: scale(1.1);
}

.tile2:hover {
    background: #883677;
    transform: scale(1.1);
}

.tile3:hover {
    background: #CA61C3;
    transform: scale(1.1);
}

.tile4:hover {
    background:#EE85B5;
    transform: scale(1.1);
}

.tile5:hover {
    background:#FF958C;
    transform: scale(1.1);
}

.tile6:hover {
    background: #47E5BC;
    transform: scale(1.1);
}

.tile7:hover {
    background: #81E4DA;
    transform: scale(1.1);
}

.tile8:hover {
    background: #CCF5AC;
    transform: scale(1.1);
}

.tile9:hover {
    background: #DAFFED;
    transform: scale(1.1);
}